@page "/createballot"
@inject ICryptographyService CryptographyService

<PageTitle>Create Ballot</PageTitle>
<h3>創建新投票</h3>

<br />
<button class="btn btn-primary" @onclick="ButtonClick">Generate Key</button>
<br />
<hr>
@if (keyIsGenerate)
{
    <p>生成時間：@generateTime.ToString("yyyy/MM/dd HH:mm:ss")</p>
    <div class="input-group">
        <span class="input-group-text">投票公開金鑰</span>
        <input type="text" readonly placeholder="Ballot Public Key" value="@textpublic" />
        <CopyToClipboard TextToCopy="@textpublic" />
    </div>
    <br />
    <div class="input-group">
        <span class="input-group-text">投票私密金鑰</span>
        <input type="text" readonly placeholder="Ballot Private Key" value="@textprivate" />
        <CopyToClipboard TextToCopy="@textprivate" />
    </div>
    <br />
    <br />
    <p>請將「投票公開金鑰」對其所有成員公開。</p>
    <p><font color="#FF0000"><b>「投票私密金鑰」請保密並妥善保存</b>，並於未來進行開票作業時再交付給開票者。</font></p>
}

@if (keyIsGenerate)
{
    <hr>
    <ul class="nav nav-pills" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="publickey-tab" data-bs-toggle="tab" data-bs-target="#publickey" type="button" role="tab" aria-controls="publickey" aria-selected="true">投票公開金鑰</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="privatekey-tab" data-bs-toggle="tab" data-bs-target="#privatekey" type="button" role="tab" aria-controls="privatekey" aria-selected="false">投票私密金鑰</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="publickey" role="tabpanel" aria-labelledby="publickey-tab">
            <br />
            <div class="card text-center" style="width: 270px;">
                <QRCode Data="@textpublic" ErrorCorrection="ErrorCorrection.Medium" />
                <div class="card-body">
                    <h5 class="card-title">投票公開金鑰</h5>
                    <p class="card-text">@generateTime.ToString("yyyy/MM/dd HH:mm:ss")</p>
                </div>
            </div>
            <br />
        </div>
        <div class="tab-pane fade" id="privatekey" role="tabpanel" aria-labelledby="privatekey-tab">
            <br />
            <div class="card text-center" style="width: 375px;">
                <QRCode Data="@textprivate" ErrorCorrection="ErrorCorrection.Low" />
                <div class="card-body">
                    <h5 class="card-title">投票私密金鑰</h5>
                    <p class="card-text">@generateTime.ToString("yyyy/MM/dd HH:mm:ss")</p>
                </div>
            </div>
            <br />
        </div>
    </div>
}

@code {
    string textpublic = "";
    string textprivate = "";
    bool keyIsGenerate = false;
    DateTime generateTime;

    private async Task ButtonClick()
    {
        var (publickey, privatekey) = await CryptographyService.GetRSAKeyPair();
        textpublic = publickey;
        textprivate = Convert.ToBase64String(ZipLib.Zip(privatekey));
        keyIsGenerate = true;
        generateTime = DateTime.Now;
    }
}
